* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background-color: black;   
}
.sidebar {
    width: 300px;
    background: #030303;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

}

.sidebar-nav {
    background: #111111;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 10px;

    
}
.sidebar-nav .logo {
    width: 120px;
}
.sidebar-nav .logo img {
    width: 100%;
}
.icones {
    width: 30px;
}
.sidebar-nav ul {
    list-style: none;
}
.sidebar-nav ul li {
    padding: 10px 20px;
}
.sidebar-nav ul li:hover{
    color: #fff;

}
.sidebar-nav ul li a {
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}
.sidebar-nav ul li a img {
    font-size: 20px;
    margin-right: 10px;
}
.livraria::after {
    content: '+';
    float: right;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;

}
.criar-playlist{
    background-color: #302f2f;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.sidebar-scroll {
    height: 120px;
    overflow-y: auto;

}
.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
}
.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}
.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;


}
.criar-playlist h4 {
    color: #fff;
    font-size: 18px;
}
.criar-playlist p {
    color: #fff;
    font-size: 18px;
    margin: 12px 0;

}
.criar-playlist button {
    padding: 8px 15px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 10px
    
}
.legenda ul li a {
    text-decoration: none;
    color: #575656;
    font-size: 12px;
    font-weight: 600;
    margin: 0 6px;
}
.legenda ul{
    list-style: none;
    margin-top: 10px;
}

.legenda ul li{
    padding-bottom: 8px;
    padding: 0 12px;
}
.legenda {
    padding: 0 12px;
    margin-top: 30px;
}
.legenda ul li a:hover {
    text-decoration: underline;
    color: #4c4949;
    

}
.brasil {
    padding: 20px 30px;

}
.brasil button{
   padding: 10px 20px;
   background: transparent;
   border: 0;
    outline: none ;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
    margin: 20px 0;
}
.brasil button:hover {
    padding: 11px 31px;
    border: 1px solid #fff;
}
.main-section {
    margin-left: 300px;
    background: #181818;
    height: 100hv;

}
.main-section .top-nav{
    padding: 25px 30px;
    background: #d33232;
    display: flex;
    align-items: center;
    justify-content: space-between;



}
.main-section .top-nav  button{
    background: transparent;
    border: 0;
    outline: 0;

}
.main-section .top-nav .pre-btn button img{
    color: #838181;
    font-size: 22px;
    margin-right: 10px;

}
.top-nav .log-btn .sing-up{
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;



}
.top-nav .log-btn .sing-up:hover {
    color: #ffffff;
}
.top-nav .log-btn .login-up {
    color: #242323;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;




}
.top-nav .log-btn .login-up:hover {
    color: #f3f3f3;

}
.spotify-playlist {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.spotify-playlist .card {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.spotify-playlist .item {
    width: 100%; 
    height: 100%; 
}

.spotify-playlist .item iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.icones {
    filter: brightness(0) invert(1);
}
.pre-btn img {
    filter: brightness(0) invert(1);
}
